<div class="text-center">
  <h1 class="display-4">Add yourself to the connections pool!</h1>
  <p style="margin-top:15px">Connecting to one person is enough!</p>

  <!--<div>
    <span [appDone]="isAppDone">AppDone</span>
  </div>-->

  <br />
  <a class="addPersonLink" [routerLink]="['/addPerson']">ADD</a><br />

  <br />
  <hr />

  <form class="enterForm" #enterForm="ngForm" (ngSubmit)="enter(enterForm.value)">
    <div class="enterSelect">OR SELECT</div>
    <select required name="select" type="select" [(ngModel)]="selectedPerson" style="width:150px; margin-top:5px; display:inline; border-color:transparent">
      <option value="-1" disabled selected>PERSON</option>
      <option *ngFor="let person of personsOptions" [ngValue]="person.Id">{{person.FullName}}</option>
    </select>
    <div style="top:5px; float:left; margin-left:12px">
      AND <button type="submit" class="btn btn-link enterBtn" [disabled]="enterForm.invalid || selectedPerson === '-1'">
        ENTER
      </button>
    </div>
  </form>

  <br />
  <hr /><br />

  <div style="margin-left:-15px">
    <div class="loginNewPerson">OR </div>
    <a class="loginLink" [routerLink]="['/login']">LOGIN</a>
    <div class="loginNewPerson"> ANOTHER PERSON</div>
  </div>

  <hr />

</div>
