<div class="page-center">
  <!--welcome-->
  <div [ngClass]="{'welcome': !welcomeDisabled, 'welcome-disabled': welcomeDisabled}">

    <h4 class="sectionHeader">WELCOME, NEW FAMILY MEMBER!</h4>
    <div class="divider"></div>
    <div class="sectionContainer">

      <div *ngIf="spinnerWelcome" class="loader-overlay">
        <div class="spinner"></div>
      </div>

      <form #addPersonForm="ngForm" (submit)="next(addPersonForm.value)">
        <div class="form-group">
          <div>
            <label for="fullName">Full Name:</label>
            <span *ngIf="fullName.invalid && fullName.dirty" class="text-danger" style="float:right">Required!</span>
          </div>
          <input [(ngModel)]="newConnection!.TargetPerson!.FullName" #fullName="ngModel" class="form-control"
                 required name="fullName" id="fullName" type="text" />
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="dateOfBirth">Date of Birth:</label>
            <span *ngIf="dateOfBirth.invalid && dateOfBirth.dirty" class="text-danger" style="float:right">Required!</span>
          </div>
          <input [(ngModel)]="newConnection!.TargetPerson!.DateOfBirth" #dateOfBirth="ngModel" class="form-control"
                 required name="dateOfBirth" id="dateOfBirth" type="date" />
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="selectedPlaceOfBirth">Place of Birth:</label>
            <span *ngIf="!selectedPlaceOfBirth" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedPlaceOfBirth" [compareWith]="compareById" class="form-select">
            <option *ngFor="let country of countries" [ngValue]="country">{{country.Name}}</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="selectedGender">Gender:</label>
            <span *ngIf="!selectedGender" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedGender" [compareWith]="compareById" class="form-select">
            <option *ngFor="let gen of genders" [ngValue]="gen">{{gen.Name}}</option>
          </select>
        </div>
        <br />
        <div class="divider"></div>
        <div class="form-group">
          <div>
            <label for="selectedRelated">Connecting to:</label>
            <span *ngIf="!selectedRelated" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedRelated" [compareWith]="compareById" V class="form-select">
            <option *ngFor="let person of personsItems" [ngValue]="person">{{person.Name}}</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="selectedRelation">As Your:</label>
            <span *ngIf="!selectedRelation" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedRelation" class="form-select">
            <option *ngFor="let rel of relations" [ngValue]="rel">{{rel.Name}}</option>
          </select>

        </div>
        <br />
        <div class="divider"></div>
        <div class="form-group">
          <input [disabled]="fullName.invalid || dateOfBirth.invalid ||
                 selectedPlaceOfBirth.Id == -1 || selectedGender.Id == -1 || selectedRelated.Id == -1 || selectedRelation.Id == -1"
                 type="submit" value="Next" class="btn btn-primary nextBtn" />
          <input value="Fill" type="button" (click)="fillTest()" />
        </div>
        <br />
      </form>
    </div>
  </div>

  <!--verify-->
  <div [ngClass]="{'verify': !verifyDisabled, 'verify-disabled': verifyDisabled}">
    <h4 class="sectionHeader">VERIFY CONNECTIONS...</h4>
    <div class="divider" style="margin-bottom:0px"></div>

    <div *ngIf="verifyVisible" class="sectionContainer verifyContainer">

      <div *ngIf="spinnerVerify" class="loader-overlay">
        <div class="spinner"></div>
      </div>

      <div>
        <button [ngClass]="{'tab-focus': inFoundTab, 'tab-not-focus': !inFoundTab }"
                type="button" style="border: none" (click)="goToTab('found')">
          Found
        </button>
        <button [ngClass]="{'tab-focus': inUndecidedTab, 'tab-not-focus': !inUndecidedTab}"
                type="button" style="border: none" *ngIf="undecidedConns.length > 0" (click)="goToTab('undecided')">
          Undecided
        </button>
        <div class="divider"></div>
      </div>

      <form class="verify-form" #verifyConnsForm="ngForm" (submit)="final(verifyConnsForm.value)">
        <div class="verify-middle">
          <div *ngIf="inFoundTab" class="found-tab">
            <div class="found-conns">
              <div *ngFor="let con of foundConns" class="found-conn">
                <div class="conn-label">
                  <span style="display:block">
                    {{ con!.RelatedPerson!.FullName! }} is
                  </span>
                  <span style="display:block">
                    {{ con!.TargetPerson!.FullName! }}'s
                  </span>
                  <div class="rel-input">
                    <span>{{ con!.Relationship!.Type! }}</span>
                    <input type="checkbox" [checked]="con.Confirmed" class="rel-checkbox" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="undecided-tab" *ngIf="inUndecidedTab">
            <div class="found-conns">
              <div *ngFor="let con of undecidedConns" class="found-conn">
                <div class="conn-label">
                  <span style="display:block">
                    {{ con!.RelatedPerson!.FullName! }} is
                  </span>
                  <span style="display:block">
                    {{ con!.TargetPerson!.FullName! }}'s
                  </span>
                  <div class="rel-input">
                    <select required name="select" type="select" [(ngModel)]="con!.SelectedUndecided!.Id" class="rel-select">
                      <option [ngValue]="-1">DECIDE</option> <!--disabled selected-->
                      <option *ngFor="let option of con!.UndecidedOptions" [ngValue]="option.Id">{{option.Name}}</option>
                    </select>
                    <input type="checkbox" [checked]="con.SelectedUndecided!.Id !== -1" class="rel-checkbox" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="verify-bottom">
          <br />
          <div class="divider"></div>
          <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary nextBtn"
                   [disabled]="!allUndecidedSelected()" />
            <input type="button" value="Back" class="btn btn-primary" (click)="backTo('welcome')" />
          </div>
        </div>
      </form>

    </div>
  </div>

  <!--complete-->
  <div [ngClass]="{'complete': !completeDisabled, 'complete-disabled': completeDisabled}" class="complete-disabled">
    <h4 class="sectionHeader">COMPLETE ADDITION...</h4>
    <div class="divider"></div>
    <div *ngIf="!completeDisabled" class="sectionContainer completeContainer">
      <h5 class="summary-header">Summary</h5>
      <div class="summary-conns">
        <div *ngFor="let summ of connsSumm" class="summary-conn">
          <div>
            &bull; {{ summ!.Desc }}
          </div>
        </div>
      </div>

      <div class="complete-bottom">
        <br />
        <div class="divider"></div>
        <div class="form-group">
          <input type="submit" value="Complete" class="btn btn-primary nextBtn"/>
          <input type="button" value="Back" class="btn btn-primary" (click)="backTo('verify')" />
        </div>
      </div>
    </div>
  </div>
</div>



