<div class="page-center">
  <h4>WELCOME, NEW FAMILY MEMBER!</h4>
  <hr />
  <div style="width:300px">
    <form #addPersonForm="ngForm" (submit)="add(addPersonForm.value)">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input [(ngModel)]="newPerson!.FullName" #fullName="ngModel" class="form-control"
               required name="fullName" id="fullName" type="text" value="{{newPerson.FullName}}"/>
        <span *ngIf="fullName.invalid && fullName.dirty" class="text-danger">Required!</span>
      </div>
      <br />
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input [(ngModel)]="newPerson!.DateOfBirth" #dateOfBirth="ngModel" class="form-control"
               required name="dateOfBirth" id="dateOfBirth" type="date" value="{{newPerson.DateOfBirth}}"/>
        <span *ngIf="dateOfBirth.invalid && dateOfBirth.dirty" class="text-danger">Required!</span>
      </div>
      <br />
      <div class="form-group">
        <label for="selectedPlaceOfBirth">Place of Birth:</label>
        <select required name="select" [(ngModel)]="selectedPlaceOfBirth" type="select" class="form-select">
          <option value="-1" disabled selected>Country</option>
          <option *ngFor="let country of countries" [ngValue]="country.Id">{{country.Name}}</option>
        </select>
        <span *ngIf="!selectedPlaceOfBirth" class="text-danger">Required!</span>
      </div>
      <br />
      <div class="form-group">
        <label for="newPerson.Gender">Gender:</label>
        <select required name="select" [(ngModel)]="newPerson!.Gender" typeof="select" class="form-select">
          <option value="-1" disabled selected>Gender</option>
          <option *ngFor="let gen of genders" [ngValue]="gen.Id">{{gen.Name}}</option>
        </select>
        <span *ngIf="!newPerson.Gender" class="text-danger">Required!</span>
      </div>
      <br />
      <div class="form-group">
        <label for="selectedRelated">Connecting to..:</label>
        <select required name="select" type="select" [(ngModel)]="selectedRelated" class="form-select">
          <option value="-1" selected>Person</option>
          <option *ngFor="let person of personsItems" [ngValue]="person.Id">{{person.Name}}</option>
        </select>
        <span *ngIf="!selectedRelated" class="text-danger">Required!</span>
      </div>
      <br />
      <div class="form-group">
        <label for="selectedRelation">As Your:</label>
        <select required name="select" type="select" [(ngModel)]="selectedRelation" class="form-select">
          <option value="-1" disabled selected>Relationship</option>
          <option *ngFor="let rel of relations" [ngValue]="rel.Id">{{rel.Name}}</option>
        </select>
        <span *ngIf="!selectedRelation" class="text-danger">Required!</span>
      </div>
      <br />
      <hr style="width:315%"/>
      <div class="form-group">
        <input type="submit" value="Connect" class="btn btn-primary" />
      </div>
      <br />
    </form>
  </div>
</div>
