<div class="page-center">
  <div class="welcome">
    <h4 class="sectionHeader">WELCOME, NEW FAMILY MEMBER!</h4>
    <div class="divider"></div>
    <div class="sectionContainer">
      <form #addPersonForm="ngForm" (submit)="next(addPersonForm.value)">
        <div class="form-group">
          <div>
            <label for="fullName">Full Name:</label>
            <span *ngIf="fullName.invalid && fullName.dirty" class="text-danger" style="float:right">Required!</span>
          </div>
          <input [(ngModel)]="newConnection!.TargetPerson!.FullName" #fullName="ngModel" class="form-control"
                 required name="fullName" id="fullName" type="text" />
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="dateOfBirth">Date of Birth:</label>
            <span *ngIf="dateOfBirth.invalid && dateOfBirth.dirty" class="text-danger" style="float:right">Required!</span>
          </div>
          <input [(ngModel)]="newConnection!.TargetPerson!.DateOfBirth" #dateOfBirth="ngModel" class="form-control"
                 required name="dateOfBirth" id="dateOfBirth" type="date" />
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="selectedPlaceOfBirth">Place of Birth:</label>
            <span *ngIf="!selectedPlaceOfBirth" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedPlaceOfBirth" [compareWith]="compareById" class="form-select">
            <option *ngFor="let country of countries" [ngValue]="country">{{country.Name}}</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="selectedGender">Gender:</label>
            <span *ngIf="!selectedGender" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedGender" [compareWith]="compareById" class="form-select">
            <option *ngFor="let gen of genders" [ngValue]="gen">{{gen.Name}}</option>
          </select>
        </div>
        <br />
        <div class="divider"></div>
        <div class="form-group">
          <div>
            <label for="selectedRelated">Connecting to:</label>
            <span *ngIf="!selectedRelated" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedRelated" [compareWith]="compareById"V class="form-select">
            <option *ngFor="let person of personsItems" [ngValue]="person">{{person.Name}}</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <div>
            <label for="selectedRelation">As Your:</label>
            <span *ngIf="!selectedRelation" class="text-danger" style="float:right">Required!</span>
          </div>
          <select required name="select" type="select" [(ngModel)]="selectedRelation" class="form-select">
            <option *ngFor="let rel of relations" [ngValue]="rel">{{rel.Name}}</option>
          </select>

        </div>
        <br />
        <div class="divider"></div>
        <div class="form-group">
          <input [disabled]="fullName.invalid || dateOfBirth.invalid ||
                 selectedPlaceOfBirth.Id == -1 || selectedGender.Id == -1 || selectedRelated.Id == -1 || selectedRelation.Id == -1"
                 type="submit" value="Next" class="btn btn-primary nextBtn" />
          <input value="Fill" type="button" (click)="fillTest()" />
        </div>
        <br />
      </form>
    </div>
  </div>
  <div class="verify">
    <h4 class="sectionHeader">VERIFY CONNECTIONS...</h4>
    <hr />
    <div style="width:300px">

    </div>
  </div>
  <div class="complete">
    <h4 class="sectionHeader">COMPLETE ADDITION...</h4>
    <hr />
    <div style="width:300px">

    </div>
  </div>
</div>



